@font-face {
    font-family: 'Moderniz';
    src: url(../fonts/Moderniz.otf) format('opentype');
}

@font-face {
    font-family: 'StretchPro';
    src: url(../fonts/StretchPro.otf) format('opentype');
}

body.light-mode {
    margin: 0;
    font-family: 'calibri';
    background-color: #ffffff;
    color: #100700;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Definisi mode gelap */
body.dark-mode {
    margin: 0;
    font-family: 'calibri';
    background-color: #100700;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Gaya tombol switch */
.switch-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #7b0000;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 2000;
}

.switch-button:hover {
    background-color: #333;
}

.switch-button:active {
    background-color: #d0d0d0;
}


body {
    margin: 0;
    font-family: 'calibri';
    background-color: #100700;
    color: white;
}

header {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #280000;
    box-shadow: 1px 4px 4px 4px #000000cc;
    justify-content: space-between; /* Untuk menempatkan logo, nav, dan search/logout dengan ruang di antara mereka */
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

header .logo img {
    height: 50px;
}

header .namalogo {
    display: flex;
    flex-direction: column;
}

header .h1logo {
    font-size: 15px;
    font-family: 'Moderniz';
    color: #ff9600;
}

header .h2logo {
    font-size: 8px;
    font-family: 'Moderniz';
    margin-top: 0px;
    color: #280000;
    text-shadow: 
        -0.5px -0.5px 0 #ff9600, 
        0.5px -0.5px 0 #ff9600, 
        -0.5px 0.5px 0 #ff9600, 
        0.5px 0.5px 0 #ff9600;
}

.header .searchBox,
header .logout {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between nav and search container */
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}


nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'calibri';
    font-style: bold;
}

.menu-toggle {
    display: none; /* Sembunyikan toggle menu secara default */
    cursor: pointer;
}

.hamburger {
    font-size: 24px;
    color:  #ff9600;
}

nav ul {
    list-style: none; /* Menghilangkan marker/bullet pada elemen li */
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative; /* Posisi relatif untuk mengatur posisi elemen pseudo */
}

nav ul li a {
    display: inline-block; /* Menjadikan elemen <a> sebagai inline-block agar transform bekerja */
    position: relative; /* Posisi relatif untuk elemen pseudo */
    transition: transform 0.3s ease; /* Menambahkan efek transisi untuk zoom */
    text-decoration: none; /* Menghilangkan garis bawah default pada teks */
    color: rgb(255, 255, 255); /* Warna teks */
    font-style: bold;
}

/* Efek zoom pada teks <a> saat dihover */
nav ul li a:hover {
    transform: scale(1.1); /* Zoom 20% lebih besar pada teks */
}

/* Mengatur garis bawah dengan elemen pseudo ::after */
nav ul li a::after {
    content: ''; /* Konten kosong untuk elemen pseudo */
    display: block; /* Mengatur agar elemen pseudo tampil */
    height: 2px; /* Ketebalan garis */
    width: 0; /* Awal lebar garis diatur ke 0 */
    background: #e0631592; /* Warna garis */
    transition: width 0.5s ease; /* Efek transisi untuk perubahan lebar garis */
    position: absolute; /* Menjadikan elemen pseudo absolut agar tidak terpengaruh oleh zoom teks */
    bottom: -5px; /* Posisi garis di bawah teks */
    left: 0; /* Posisi garis dimulai dari kiri */
}

/* Efek hover untuk garis */
nav ul li a:hover::after {
    width: 100%; /* Lebar garis berubah menjadi 100% saat dihover */
}


.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ff9600;
    border-radius: 8px;
    background-color: #280000;
    padding: 5px 10px;
    margin-left: 40px; /* Space between nav and search container */
    margin-right: 20px; /* Space between search container and logout button */
    width: fit-content; /* Make the width fit the content */
}

.search-container input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #280000;
    color: white;
    outline: none;
    width: 100px;
    align-items: center;
    justify-content: center;
}

/* Placeholder text color */
.search-container input::placeholder {
    color: white;
}

.logout {
    padding: 10px 35px;
    background: rgb(248,54,0);
    background: linear-gradient(90deg, rgba(248,54,0,1) 34%, rgba(250,204,34,1) 100%);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 50%;
}

.welcome-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'StretchPro';
}

.welcome-section p {
    font-size: 18px;
    margin-bottom: 10px;
}

.welcome-section .buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px; /* Space between buttons */
}

.welcome-section .buttons button {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ff9600;
}


.profile-details h2{
    background: rgb(248,54,0);
    background: linear-gradient(90deg, rgba(248,54,0,1) 34%, rgba(250,204,34,1) 100%);
    color: #100700;
    border-radius: 8px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Moderniz';
}

.profile-details h3{
    font-family: 'Moderniz';
    text-align: center;
    color: #100700;
    font-size: 20px;
    text-shadow: 
        -0.5px -0.5px 0 #ff9600, 
        0.5px -0.5px 0 #ff9600, 
        -0.5px 0.5px 0 #ff9600, 
        0.5px 0.5px 0 #ff9600;

}

.profile-details{
    margin-top: 30px;
}

.paddingan{
    display: flex;
    flex-direction: row;
    gap: 155px;
    margin-top: 10px;
}

.padding-profile1{
    width: 70px;
    height: 15px;
    background: rgb(248,54,0);
    background: linear-gradient(90deg, rgba(248,54,0,1) 34%, rgba(250,204,34,1) 100%);
    border-radius: 8px;
    margin-left: 30px;
}

.padding-profile2{
    width: 70px;
    height: 15px;
    background: rgb(248,54,0);
    background: linear-gradient(90deg, rgba(248,54,0,1) 34%, rgba(250,204,34,1) 100%);
    border-radius: 8px;
    margin-right: 20px;
}

.paddinganpanjangprofile{
    width: 50px;
    height: 15px;
    background: rgb(248,54,0);
    background: linear-gradient(90deg, rgba(248,54,0,1) 34%, rgba(250,204,34,1) 100%);
    border-radius: 8px;
    margin-right: 20px;
    position: absolute;
    

}

.gradient-shape {
    position: relative;
    width: 320px; /* Adjust based on your design */
    height: 20px; /* Adjust based on your design */
    background: linear-gradient(90deg, rgba(248,54,0,1) 34%, rgba(250,204,34,1) 100%);
    border-radius: 15px;
}




.account-btn {
    background: rgb(248,54,0);
    background: linear-gradient(90deg, rgba(248,54,0,1) 34%, rgba(250,204,34,1) 100%);
    color: white;
    font-weight: bold;
}

.info-btn {
    background-color: #100700;
    color: white;
    font-weight: bold;
    border: 1px solid #ff9600;
    border-radius: 5px;
}

.profile-section {
    position: relative;
    width: 340px;
    height: 480px;
    border-radius: 15px;
    margin-left: 80px;
    border: 1px solid #fff7eb;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 2%, rgba(248,54,0,0.57) 100%);
    padding: 0; /* Removed padding to allow full image coverage */
    margin-right: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Menambahkan efek transisi */
}

.profile-sectionPhone {
    position: relative;
    width: 100%;
    height: 440px;
    border-radius: 15px;
    /* margin-left: 80px; */
    border: 1px solid #fff7eb;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 2%, rgba(248, 54, 0, 0.57) 100%);
    /* padding: 0; */
    /* margin-right: 10px; */
    margin-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: none;
}

.profile-section img {
    width: 100%;
    height: fit-content;
    object-fit:contain;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Menambahkan efek transisi */
   

}

.profile-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* 25% of the profile section height */
    text-align: center;
    background-color: rgba(255, 78, 2, 0.281);
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}

.profile-text h2, .profile-text h3, .profile-text p {
    margin: 0;
    color: #ffffff;
    font-family: 'Moderniz', sans-serif;
}

.profile-text h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-text p {
    font-size: 14px;
    margin-top: 5px;
}

/* From Uiverse.io by OnlyCodeChannel */ 
.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #280000;
    border-radius: 50px;
    border: 1px solid #ff9600;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #FACC22 0%, #F83600 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /button pressing effect/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 10px 1px 10px 10px;
  }


.h2-berita{
    margin-top: 80px;
    text-align: center;
    font-family: 'Moderniz';
}

.card-berita {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    animation: scroll 20s linear infinite;
    overflow: visible; /* Pastikan card yang di-zoom tidak terpotong */
    margin-top: 40px;
    margin-bottom: 80px;
}



.imgberita {
    width: 100%;        /* Pastikan gambar mengisi lebar card */
    height: 100%;       /* Pastikan gambar mengisi tinggi card */
    object-fit: cover;  /* Gambar akan dipotong jika perlu, tetapi tetap menjaga proporsi */
    align-items: center;
}

.card-berita-item {
    min-width: 240px; /* Same as card width */
    transition: transform 0.3s ease-in-out;
}

.card-berita1 {
    flex: 0 0 240px;
    height: 300px;
    border-radius: 15px;
    border: 1px solid #fff7eb;
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 2%, rgba(248,54,0,0.57) 100%);
    position: relative;
    overflow: hidden; /* Memastikan elemen di dalamnya tidak terpotong */
    transition: transform 0.3s ease-in-out;
}


.infoberita1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Memenuhi 20% bagian bawah card */
    text-align: center;
    text-justify: center;
    background-color: rgba(93, 41, 19, 0.548);
    box-sizing: border-box; /* Memastikan padding dan border dihitung dalam ukuran total */
    padding: 10px; /* Sesuaikan padding jika diperlukan */
    margin: 0; /* Pastikan margin tidak mengganggu ukuran */
    font-family: 'Moderniz';
    font-size: small;
}

    .card-slider {
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    .card-berita-container {
        overflow: auto; /* Tetap diset overflow hidden untuk menjaga container */
        width: 100%; /* Tambahkan padding atas dan bawah agar ada ruang untuk zoom */
        scrollbar-color: transparent transparent;
    }

    .card-berita-container::-webkit-scrollbar{
        display: none;
    }

    /* Hover Effect */
.card-berita-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 10px #ff9500cc;
}

/* Pause animation on hover */
.card-slider:hover .card-berita {
    animation-play-state: paused;
}

.card-berita1:hover {
    transform: scale(1.1); /* Zoom effect on hover */
    box-shadow: 0 0 10px 5px #ff9500cc;
    z-index: 10; /* Pastikan card yang di-zoom berada di depan */
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-240px * 5));
    }
}

/* Keyframes for sliding animation */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
    

  .footer {
    background: rgb(248,54,0);
background: radial-gradient(circle, rgba(248,54,0,1) 0%, rgba(0,0,0,1) 100%);
    padding: 10px 0;
    text-align: left;
    position: relative;
    box-shadow: 0 0 4px 8px #000000cc;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
}

.footer-logouigm {
    width: 50px; /* Sesuaikan ukuran logo */
    height: auto;
    align-items: center;
    margin-left: 40px;
}

.footer-logokawankip {
    width: 40px; /* Sesuaikan ukuran logo */
    height: auto;
    align-items: center;
    margin-left: 0px;
}

.footer-text {
    font-size: 18px;
    color: #fff7eb; /* Warna teks */
    font-weight: bold;
}

.bataslogofooter{
    padding: 12px 1px;
    background-color: #fff;

}

.auto-container{
    display: flex;
    flex-direction: row;
}



.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb00;
    
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 20px 30px 50px #000000;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}


/* Kelas untuk menambahkan efek blur */
.blur {
    filter: blur(5px);
    transition: filter 0.5s ease;
}


.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    text-shadow: 2px 2px 4px #000000; /* X offset, Y offset, blur radius, shadow color */
    font-family: 'StretchPro';
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    text-shadow: 4px 4px 8px #000000; /* X offset, Y offset, blur radius, shadow color */
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    font-family: 'Arial';
    font-size: 20px;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    border: 1px solid #ff9600;
    border-radius: 5px;
    background: rgba(248, 54, 0, 0.719);
    background: linear-gradient(90deg, rgba(248, 54, 0, 0.679) 34%, rgba(250, 203, 34, 0.734) 100%);
    color: white;
    font-weight: bold;
     transition: 0.3s;
}

.content button:hover {
    background: linear-gradient(90deg, rgba(248, 54, 0, 0.9) 34%, rgba(250, 203, 34, 0.9) 100%);
    transform: scale(1.1);
    transition: 0.3s;
  }


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    transition: 0.3s;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #ff9600;
    border-radius: 5px;
    background: rgba(248, 54, 0, 0.719);
    background: linear-gradient(90deg, rgba(248, 54, 0, 0.679) 34%, rgba(250, 203, 34, 0.734) 100%);
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.button button:hover {
    background: linear-gradient(90deg, rgba(248, 54, 0, 0.9) 34%, rgba(250, 203, 34, 0.9) 100%);
    transform: scale(1.1);
    transition: 0.3s;
  }

  
.DeskripsiDokumentasi{
    background-color: #28000090;
    padding: 20px;
    width: 480px;
    border-radius: 8px;
    padding-right: 30px;
}

.Dokumentasi{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 0;
    margin-bottom: 80px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.img-dokumentasi img{
    max-width: 400px;
    max-height: 320px;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px #000000cc;
}

.borderdokumentasi {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 360px;
    border-radius: 20px;
    background-color: #280000;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 1px 2px 2px 2px #ff9500cc;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Menambahkan efek transisi */
  }
  
  .borderdokumentasi:hover {
    transform: scale(1.05); /* Efek zoom */
    box-shadow: 0 0 15px 10px #ff9500cc; /* Efek glow */
  }
  

.h2-beritaDok{
    text-align: center;
    font-family: 'Moderniz';
    font-size: 50px;
    margin-left: 80px;
}

.pDok{
    margin-top: 0;
    margin-left: 80px;
    text-align: center;
    font-family: Calibri;
}

.profile-section img:hover {
    transform: scale(1.05); /* Efek zoom */
    filter: drop-shadow(0 4px 10px rgba(255, 187, 2, 0.816)); /* Efek drop shadow */
}


nav a:hover {
    transform: scale(1.05); /* Zoom 5% lebih besar */
    
}

.duosebelahan{
    display: flex;
    flex-direction: row;
}

.container-kepengurusan{
    display: flex;
    flex-direction: row;
}

.sidebar-kepengurusan {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 160px; /* Sesuaikan lebar sidebar */
    height: calc(105vh - 105px); /* Tinggi sidebar penuh minus tinggi navbar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
    overflow-y: auto; /* Scroll jika konten melebihi tinggi viewport */
    z-index: 1000; /* Navbar harus di atas sidebar */
    transition: all 0.3s ease;

}

.sidebar-kepengurusan::-webkit-scrollbar {
    display: none; /* Hilangkan scrollbar di Chrome dan Safari */
}

.sidebar-item {
    margin: 0; /* Hilangkan margin */
    padding: 0; /* Hilangkan padding */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-sizing: border-box; /* Pastikan padding tidak menambah ukuran elemen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item img {
    width: 150px; /* Ukuran gambar yang lebih besar */
    height: auto;
    display: block; /* Pastikan gambar tidak terpotong */
    transition: transform 0.3s ease;
    object-fit: contain; /* Pastikan gambar tidak terpotong di container */
}

.sidebar-item:hover {
    filter: brightness(1.9); /* Sesuaikan nilai brightness sesuai keinginan */
    transform: scale(1.1); /* Efek hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Efek bayangan saat hover */
}

  #animasi {
    text-align: left;
    position: relative;
    width: 80%; /* Sesuaikan dengan kebutuhan */
    padding-top: 150px;
    margin-left: 170px;
    transition: transform 0.3s ease;
  }

  #animasi:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


  #animasi::after {
    content: '';
    position: absolute;
    transition: height 0.3s ease;
}

#animasi:hover::after {
    height: 100%;
}

.data-pengurus{
    margin-left: 5.48%;
}

.judul-data-pengurus{
    font-size: 38px;
    font-weight: bold;
    font-family: 'StretchPro';
    margin-bottom: 0;
    margin-top: 5px;
}

#gradient-bar {
    width: 464px; /* Adjust width as needed */
    height: 6px; /* Adjust height as needed */
    background: linear-gradient(to right, #f83600, #facc22);
    border-radius: 50px;
    margin-top: 0;
}

#ketua-umum-description{
    max-width: 580px;
}

#ketua-umum-description p{
    line-height: 1.6;
    font-size: 10px;
    text-align: justify;
}

#ketua-umum-image{
    width: 288px;
    height: auto;
}

.deskripsi-pengurus-container {
    display: flex;
    flex-direction: row;
    align-items:flex-start
  }
  
  .deskripsi-pengurus {
    flex: 1;
  }
  
  .gambardansosmed-pengurus {
    margin-left: 40px; /* add some space between the elements */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .gambardansosmed-pengurus2{
    justify-content: center;
    display: none;
    align-items: center;
    text-align: center;
  }

  #ketua-umum-image2{
    max-width: 300px;
    max-height: 400px;
    margin-right: 0;
}

#gradient-bar1 {
    width: 100%; /* Adjust width as needed */
    height: 16px; /* Adjust height as needed */
    background: linear-gradient(to right, #f83600, #facc22);
    border-radius: 10px;
    margin-bottom: 20px;
}

#gradient-bar1 p {
    justify-content: center;
    text-align: center;
    size: 100px;
    font-size: 11.2px;
    font-weight: bold;
}

.transparent-box1{
    justify-content: center;
    text-align: center;
}

.transparent-box1 h2 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'StretchPro';
    background-color: transparent;
    border: 2px solid #facc22;
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
}

.transparent-box {
    display: flex;
    flex-direction: column;
    width: 592px;
    height: 173.6px;
    background-color: transparent;
    border: 2px solid #facc22;
    box-sizing: border-box;
    border-radius: 30px;
    align-items: center;
}

.header-box-bar{
    width: 100px;
    height: 15px;
    background: linear-gradient(to right, #f83600, #facc22);
    border-radius: 50px;
    align-items: center;
}

.header-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
}

.nama-pengurus{
    width: 480px;
    height: 35px;
    background-color: #774a00;
    border-radius: 15px;
    margin-top: 20px;
    align-content: center;
}

.nama-pengurus h1{
    font-family: 'StretchPro';
    font-size: 16px;
    text-align: center;
    margin: 0;
}




.transparent-box1-2{
    justify-content: center;
    text-align: center;
}

.transparent-box1-2 h2 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'StretchPro';
    background-color: transparent;
    border: 2px solid #facc22;
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
}

.transparent-box2 {
    display: none;
    flex-direction: column;
    width: 592px;
    height: 173.6px;
    background-color: transparent;
    border: 2px solid #facc22;
    box-sizing: border-box;
    border-radius: 30px;
    align-items: center;
}

.header-box-bar2{
    width: 100px;
    height: 15px;
    background: linear-gradient(to right, #f83600, #facc22);
    border-radius: 50px;
    align-items: center;
}

.header-box2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
}

.nama-pengurus2{
    width: 480px;
    height: 35px;
    background-color: #774a00;
    border-radius: 15px;
    margin-top: 20px;
    align-content: center;
}

.nama-pengurus2 h1{
    font-family: 'StretchPro';
    font-size: 16px;
    text-align: center;
    margin: 0;
}




.custom-shape1 {
    width: 348px;
    height: 120px;
    background: linear-gradient(to bottom, #f83600, #380900);
    border-radius: 50px;
    border: 1px solid black;
    transform: skewX(-20deg);
    margin-left: 30px;
    position: relative;
    z-index: 3;
    bottom: 35px;
}


.custom-shape1 h1 {
    font-size: 24px;
    transform: skewX(20deg); /* Menghilangkan efek skew dari parent */
    text-align: center; /* Menengahkan teks */
    color: white; /* Warna teks putih */
    font-family: 'Moderniz';
}


.medsos-logo img:hover {
    transform: scale(1.1); /* Membesar saat hover */
    filter: brightness(100%); /* Meningkatkan kecerahan saat hover */
}

.medsos-foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.medsos-logo{
    display: flex;
    gap: 10px; /* Jarak antara gambar, dapat disesuaikan */
    transform: skewX(20deg); /* Menghilangkan efek skew dari parent */
}

.medsos-logo img{
    max-width: 30px;
    max-height: 30px;
    transition: transform 0.3s, filter 0.3s; /* Efek transisi hover */
    filter: brightness(80%);
}

.isi-sosmed {
    display: flex;
    flex-direction: column; /* Agar elemen disusun secara vertikal */
    justify-content: center; /* Memusatkan elemen secara vertikal */
    align-items: center; /* Memusatkan elemen secara horizontal */
    text-align: center; /* Agar teks di dalam elemen menjadi rata tengah */
    width: 100%; /* Pastikan lebar penuh untuk penataan yang benar */
}

.judul-sosmed{
    width: fit-content;
    height: 60px;
    margin: 0;
}

.copyright{
    bottom: 1px;
    position: absolute;
}

@media screen and (max-width: 767px) {
    /* Tata letak responsif untuk ponsel */
    body {
        font-size: 14px;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    header .logo {
        margin-right: 0;
        margin-left: 0;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-right: 0;
    }

    .search-container {
        margin-left: 0;
        margin-right: 0;
    }

    .welcome-section {
        max-width: 100%;
        padding: 20px;
    }

    .welcome-section h1 {
        font-size: 36px;
    }

    .profile-section {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }


    main {
        flex-direction: column;
    }

    .Dokumentasi{
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
        padding: 20px;
    }

    .h2-beritaDok{
        margin-left: 0;
}
    .pDok{
        margin-left: 0;
    }

    .keteranganDok{
        width: 100%;
    }

    .h2-beritaDok{
        font-size: 30px;
    }

    .img-dokumentasi img {
        max-width: 300;
        max-height: 260px;
}

.borderdokumentasi {
    width: 300px;
    height: 290px;
    margin-top: 40px;
}

.welcome-section h1 {
    text-align: center;
    font-size: 28px;
}

.profile-section{
    display: none;
}

.profile-sectionPhone{
    display: flex;
    position: relative;
}

main{
    padding: 20px;
}

.welcome-section .buttons {
    display: flex;
    gap: 90px;
    justify-content: center;
}

.welcome-section p {
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
}

.profile-details h2 {
    font-size: 15px;
    text-align: center;
    width: 100%;
}

.profile-details h3{
    font-size: 18px;
}

.profile-text p {
    font-size: 14px;
}

.h2-berita {
    margin-top: 20px;
}

.footer-text {
    font-size: 8px;
}

.profile-details {
    margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
}

header {
    flex-direction: column;
    align-items: flex-start;
}

header .logo {
    margin: 0 auto; /* Mengatur margin otomatis agar logo berada di tengah */
    display: flex;
    justify-content: center; /* Menyelaraskan konten di dalam logo ke tengah */
    margin-bottom: 20px; /* Tambahkan margin bawah untuk memberi jarak dari elemen lain */
}


.menu-toggle {
    display: block; /* Tampilkan toggle menu pada tampilan mobile */
}

nav ul {
    display: none; /* Sembunyikan menu navigasi secara default */
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-left: 0;
}

nav ul.active {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBox,
.logout {
    margin-top: 10px;
}

.searchBox {
display: flex;
align-items: center;
border: 1px solid #ff9600;
border-radius: 8px;
background-color: #280000;
padding: 5px 10px;
}

.searchBox input {
padding: 5px;
border: none;
border-radius: 5px;
background-color: #280000;
color: white;
outline: none;
}

.searchButton {
background: none;
border: none;
cursor: pointer;
color: white;
}

.logout {
background: linear-gradient(90deg, rgba(248,54,0,1) 34%, rgba(250,204,34,1) 100%);
color: white;
border: none;
cursor: pointer;
border-radius: 8px;
font-weight: bold;
}

.duosebelahan{
    display: flex;
    flex-direction: row;
}

nav ul li a {
    font-size: 16px;
}

.item .content {
    left: 0px;
}

.slide .item:nth-child(3) {
    left: 70%;
}

.content .name {
    font-size: 26px;
}

.DeskripsiDokumentasi {
    width: 230px;
    border-radius: 0;
}

.content .des{
    font-size: 16px;
    text-align: justify;
}

.content button {
    padding: 7px 15px;
}

.sidebar-kepengurusan{
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.data-pengurus{
    top: 200px;
    margin: 20px;
}

body{
    overflow-y: auto;

}

.container-kepengurusan{
    display: flex;
    flex-direction: column;
}

.deskripsi-pengurus-container{
    flex-direction: column;
}

.gambardansosmed-pengurus{
    display: none;
}

.gambardansosmed-pengurus2{
    display: flex;
    margin: 0;
}

.judul-data-pengurus{
    text-align: center;
}

#gradient-bar {
    margin: 0 auto; /* Ini akan menengahkan elemen */
  }

.sidebar-kepengurusan{
    margin: 0;
}

#ketua-umum-description{
    max-width: 100%S;
}

#gradient-bar1 {
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

#gradient-bar1 p {
    font-size: 15px;
    text-align: center;
    justify-self: center;
}

.judul-data-pengurus {
    font-size: 30px;
}

#gradient-bar {
    width: 100%;
}

.transparent-box{
    width: 100%;
}

.nama-pengurus {
    width: 80%;
    height: 35px;
}

.header-box-bar {
    width: 40px;

}

.nama-pengurus h1{
    font-size: 10px;
}

.header-box{
    justify-content: center;
    gap: 20px;
}

.custom-shape1{
    margin-left: 0;
    bottom: 0;
    margin-top: 20px;
    max-width: 95%;
}

.transparent-box{
    display: none;
}

.transparent-box2 {
    display: flex;
    width: 100%;
}

.header-box2 {
    justify-content: center;
    gap: 20px;
}

.header-box-bar2 {
    width: 40px;
}

.nama-pengurus2 h1 {
    font-size: 10px;
}

.nama-pengurus2 {
    width: 80%;
    height: 35px;
}

}